<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-lg border-0 p-4"
        style="max-width: 500px; width: 100%; border-radius: 15px; background: #f7f9fc;">
        <h2 class="text-center mb-4 text-primary fw-bold">
            <i class="fas fa-user-plus me-2"></i>Formulario de Registro
        </h2>
        <div class=" text-center text-danger mt-2" *ngIf="errorGeneral.length > 0">
            <i class="fas fa-exclamation-triangle me-2 fs-3"></i>
            <ul class="text-start">
              <li *ngFor="let error of errorGeneral">{{ error }}</li>
            </ul>
          </div>
        <div class="mb-3">
            <label for="nombre" class="form-label fw-semibold">Nombre</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <input [(ngModel)]="cliente.nombre" (keyup)="validarNombre($event)" type="text"
                    class="form-control form-control-lg" [class.is-invalid]="errorsNombre.length > 0"
                    placeholder="Ingresa tu nombre">
            </div>
            <div>
                <ul *ngIf="errorsNombre.length > 0" class="text-danger mt-2">
                    <li *ngFor="let error of errorsNombre">{{ error }}</li>
                </ul>
            </div>
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label fw-semibold">Apellido</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-user-tag"></i></span>
                <input [(ngModel)]="cliente.apellido" (keyup)="validarApellido($event)" type="text"
                    class="form-control form-control-lg" [class.is-invalid]="errorsApellido.length > 0"
                    placeholder="Ingresa tu apellido">
            </div>
            <div>
                <ul *ngIf="errorsApellido.length > 0" class="text-danger mt-2">
                    <li *ngFor="let error of errorsApellido">{{ error }}</li>
                </ul>
            </div>
        </div>
        <div class="mb-3">
            <label for="telefono" class="form-label fw-semibold">Teléfono</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-phone-alt"></i></span>
                <input [(ngModel)]="cliente.telefono" (keyup)="validarTelefono($event)" type="text"
                    class="form-control form-control-lg" [class.is-invalid]="errorsTelefono.length > 0"
                    placeholder="Ingresa tu número de teléfono">
            </div>
            <div>
                <ul *ngIf="errorsTelefono.length >0" class="text-danger mt-2">
                    <li *ngFor="let error of errorsTelefono">{{ error }}</li>
                </ul>
            </div>
        </div>
        <div class="d-flex gap-2">
            <button type="button" (click)="guardarCliente()" class="btn btn-primary flex-grow-1 btn-lg shadow-sm"
                [disabled]="hasError">
                <i class="fas fa-save me-2"></i>Guardar
            </button>
            <button (click)="reset()" class="btn btn-light border flex-grow-1 btn-lg shadow-sm">
                <i class="fas fa-times-circle me-2"></i>Cancelar
            </button>
        </div>
        <div class="mt-4 text-center">
            <a [routerLink]="['/']" class="btn btn-outline-secondary btn-lg shadow-sm">
                <i class="fas fa-arrow-left me-2"></i>Volver a la Página Principal
            </a>
        </div>

    </div>
</div>