<div class="row">
    <label for="">
        <h5>
            Buscar por nombres y apellidos:
        </h5>
    </label>
    <div class="col-sm-6 d-flex ">
        <input class="form-control me-2" type="text" [(ngModel)]="searchTerm" (keyup)="onKeyBuscar($event)"
            [class.is-invalid]="errorsSearchTerm.length > 0" placeholder="Buscar cliente" />
        <button (click)="onBuscar()" id="searchButton" [disabled]="hasError" class="btn btn-secondary">
            <i class="fas fa-search"></i> Buscar
        </button>
    </div>
    <div class="col-sm-6 text-end">
        <button [routerLink]="['/cliente-form']" class="btn btn-primary d-flex flex-column align-items-center">
            <i class="fa fa-plus mb-2"></i>
            <span>Agregar</span>
            
        </button>
    </div>
</div>
<div>
    <div>
        <ul *ngIf="errorsSearchTerm.length > 0" class="text-danger mt-2">
            <li *ngFor="let error of errorsSearchTerm">{{ error }}</li>
        </ul>
    </div>
</div>